@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout";
}

<div class="img-container">
    <div class="single-about">
        <img class="about"
             src="~/Images/Danul.jpg"
             alt="Danul">
        <div class="about-links">
            <h3>Danul</h3>
            <a href="https://www.linkedin.com/in/danul-de-leon/">
                <img src="~/Images/linkedin.ico" alt="linkedin" class="favicon" />
            </a>
            <a href="https://github.com/Ddanul">
                <img src="~/Images/github.ico" alt="github" class="favicon" />
            </a>
        </div>
    </div>

    <div class="single-about">
        <img class="about"
             src="~/Images/Jamilah.jpg"
             alt="Jamilah">
        <div class="about-links">
            <h3>Jamilah</h3>
            <a href="https://www.linkedin.com/in/jamilah-mcwilliams/">
                <img src="~/Images/linkedin.ico" alt="linkedin" class="favicon" />
            </a>
            <a href="https://github.com/thejamilah">
                <img src="~/Images/github.ico" alt="github" class="favicon" />
            </a>
        </div>
    </div>

</div>

<div class="about-team">
    <p>We are passionate about software development, technology, and applying our skills in interesting ways. In addition to technology; we are also passionate about food and expressing our love of technology in quirky ways. cook&&code organically manifested combining two passions.</p>
</div>