* {
    font-family: 'Bree Serif', serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*================ Product Detail Page ================*/

.card {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    background-color: #f9f6f2;
    border-radius: 5px;
    text-align: center;
    border: 1px solid silver;
}

    .card img {
        height: auto;
        width: 75%;
        border-radius: 5px;
    }

    .card p:nth-child(2) {
        width: 90%;
        margin: 1% auto;
    }
    
    p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        text-align: center;
    }

.cart {
    float: left;
    width: 15%;
    padding-top: 125px;
}

aside {
    position: fixed;
}

.button {
    background-color: #67242d;
    padding: 2% 5%;
    border-radius: 5px;
    color: whitesmoke;
    border: none;
}

.qtyinput {
    width: 15%;
    border: solid silver 1px;
    border-radius: 5px;
}


/*================ Nav Bar ================*/
.nav {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: #f9f6f2;
}

.navbar {
    display: inline-block;
    text-decoration: none;
    width: 74%;
    float: right;
}

.navhead {
    display: inline-block;
    margin-left: 2%;
}

.navitem {
    text-decoration: none;
    display: inline-block;
    width: 20%;
    float: right;
}

.navlink {
    text-decoration: none;
}

a {
    color: black;
}

.navbutton {
    font-family: 'Bree Serif', serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 1.15;
    margin: 1.5em 0;
    padding: 0;
    background-color: #f9f6f2;
    border: none;
}

    .navbutton:hover {
        cursor: pointer;
    }

