@page
@model Cookware.Pages.Member.UserProfileModel

@using Microsoft.AspNetCore.Identity
@using Cookware.Models
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "UserProfile";
}

@{
    Layout = "_Layout_Product_Detail";
}
<div class="deck">
    <div class="card">
        <h2>UserProfile</h2>
        
            <p>Name: @Model.user.FirstName @Model.user.LastName</p>
            <p>Email: @Model.user.NormalizedEmail</p>
            <p><a href="/Member/UserOrders">View Last 5 Orders</a></p>
            <p><a href="/Member/UserManage">Manage Profile</a></p>
        
    </div>
</div>

