@page
@model Cookware.Pages.Member.UserOrdersModel
@{
    ViewData["Title"] = "UserOrders";
}

@{
    Layout = "_Layout";
}

<h2>UserProfile</h2>

<h3>Last 5 Orders: </h3>

<div class="deck">
    @foreach (var item in Model.Orders)
    {
        <div class="card">
            <p>Order Date: @item.OrderDate</p>
            <p>Order Total: $@item.Total USD</p>
            <p>Payment: Card Ending in '@item.CreditCard'</p>
            <p>Items:</p>
            
                @foreach (var basketitem in item.BasketItems)
                {
                    <p>@basketitem.Product.Name : Qty. @basketitem.Quantity</p>
                }
            
        </div>
    }
</div>