@using Microsoft.AspNetCore.Identity
@using Cookware.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout_Home";
}

<html>
<body>
    <div class="top">
        <div class="header">
            <h1 class="title">cook && code</h1>
        </div>
        <div class="logreg">
            @if (SignInManager.IsSignedIn(User))
            {
                <p>Welcome, @User.Claims.First(x => x.Type == "FullName").Value</p>
                <a class="link" href="Product/">shop</a>
                <a class="link" href="CSharp/">For CSharp Lovers Only</a>
                <a class="link" href="Over21/">Over 21</a>
                <form asp-action="Logout" asp-controller="Account" method="post">
                    <button type="submit">Log Out</button>
                </form>
            }
            else
            {
                <a class="link" href="Account/Login">login</a>
                <a class="link" href="Account/Register">register</a>
                <a class="link" href="Product/">shop</a>

            }
        </div>
    </div>
    <div class="spacer">
Cook && Code is a place where two interests intersect.  Cooking new and delicious things and programming.  Here you will find anything from a high tech digital thermometer to an article of clothing with quirky code scripts printed on them.  Enjoy browsing the items we have procured specificaly for people who share our two interests.  Happy Shopping!</div>
    <div class="middle">
        <div>
            middle
        </div>
    </div>
</body>
</html>