@model Cookware.Models.AccountViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<h3>Login</h3>

<form method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" placeholder="Email" />
    <span asp-validation-for="Email"/>

    <label asp-for="Password"></label>
    <input asp-for="Password" alt="Password" placeholder="Password" />
    <span asp-validation-for="Password"/>

</form>