@model List<Cookware.Models.BasketItem>


@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout";
}

<div class="deck">
    @foreach (var item in Model)
    {
    <div class="card">
        <p>@item.Product.Name</p>
        <p><img src="@item.Product.Image" /></p>
        <p>@item.Product.Price</p>
        <p>@item.Quantity</p>
     </div>
    }
        
</div>