@page
@model Cookware.Pages.Admin.CreateProductsModel

@{
    ViewData["Title"] = "CreateProducts";
}

<h2>CreateProduct</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Product.Sku" class="control-label"></label>
        <input asp-for="Product.Sku" class="form-control" />
        <span asp-validation-for="Product.Sku" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Name" class="control-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price" class="control-label"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description" class="control-label"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Image" class="control-label"></label>
        <input asp-for="Product.Image" class="form-control" />
        <span asp-validation-for="Product.Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.LanguageIsCSharp" class="control-label"></label>
        <input asp-for="Product.LanguageIsCSharp" class="form-control" />
        <span asp-validation-for="Product.LanguageIsCSharp" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>