@page
@model Cookware.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Index";
}

<h2>Admin Dashboard Home</h2>

<a class="link" href="Product/">View All Products</a>

<a class="link" href="/Admin/RecentOrders">Recent Orders</a>

