@page
@model Cookware.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Index";
}


@{
    Layout = "_Layout_Product_Detail";
}

<form action="Admin/UserProfile" method="get">
    <button type="submit">View Profile</button>
</form>

<form action="Product/" method="get">
    <button type="submit">View All Products</button>
</form>

<form action="Admin/CreateProducts" method="get">
    <button type="submit">Add New Product</button>
</form>

<form action="/Admin/DeleteProducts" method="get">
    <input type="hidden" name="ID" value=22 />
    <button type="submit">Delete</button>
</form>

<form action="/Admin/EditProducts" method="get">
    <input type="hidden" name="ID" value=1022 />
    <button type="submit">Edit</button>
</form>

<form action="/Admin/RecentOrders" method="get">
    <button type="submit">Recent Orders</button>
</form>
