@page
@model Cookware.Pages.Admin.RecentOrdersModel
@{
    ViewData["Title"] = "RecentOrders";
}

@{
    Layout = "_Layout_Product_Detail";
}

<h2>RecentOrders</h2>

@foreach (var item in Model.Orders)
{
    <p>Customer Name: @item.FirstName @item.LastName</p>
    <p>Order Date: @item.OrderDate</p>
    <p>Order Total: $@item.Total USD</p>
}

