@model List<Cookware.Models.BasketItem>


<div class="cart">
    <aside>
        <a href="/BasketItem/Index">View Cart</a>
        @foreach (var item in Model)
        {
            <p>@item.Product.Name : Qty. @item.Quantity</p>
        }
    </aside>
</div>
